main{
    width: 100%;
    height: 2600px;}

header{
    width: 93%; 
    height: 200px;background-image: url(../imagenes/Encabezado.jpg);background-repeat:round;background-attachment: fixed;padding-left: 7%;padding-top: 0.5%;}

nav{
    width: 60%; 
    height: 45px;background-color: darkmagenta;padding-top: 1%;display: flex;}
nav a{
    color: aliceblue;
    text-decoration: none;margin-left: 15%;}
nav a:hover{
    text-decoration: 
        underline;}

#encabezado h1{
    font-family: 'Merriweather', serif;
    color: #000000;font-size: 40px;  text-shadow: -4px 3px 0 #e4ffee;}

section{
    width: 98%;
    padding-left: 1%;padding-top: 2%;height: 2400px}

#Texto1{
    width: 80%;
    height: 360px;margin-left: 10%;margin-bottom: 30px;}
#Texto1 h2{
    color: #279cff;
    font-family: 'Syne Mono', monospace;font-size:24px}
#Texto1 p{
    width: 45%;
    height: 310px;float: left;font-size: 14px;font-family: 'Assistant', sans-serif;text-align: justify;}
#Texto1 img{
    width: 27%; 
    height: 270px;float:left;margin-left: 10%;} 

#Texto2 h2{
    width: 89.5%;
    height: 40px;margin-top: 5px;background-color: #801010;color: antiquewhite;margin-right: 10%;padding-left: 10%;float: left;}
#Texto2 p{
    width: 50%; 
    height: 180px;float: right;margin-right: 12%;text-align: left;font-family: 'Mukta', sans-serif;}
#Texto2 img{
    width: 22%;
    height: 225px;margin-left: 9%;margin-top: 1%;}
#Texto2{
    text-align: center;
    width: 99%;height: 790px}

#Texto2 h3{
    width: 89.5%;
    height: 40px;background-color: #801010;color: antiquewhite;margin-right: 10%;padding-left: 10%;float: left;margin-top: 1px;}
#metas{
    height: 100px;
}
#metas p{
    text-align:left;
    width: 60%;margin-right: 20%;margin-bottom: 10px;}

#Texto3 h2{
    margin-top: 5px;
    width: 89.5%;height: 40px;background-color: #1d42a7;color: antiquewhite;margin-right: 10%;padding-left: 10%;float: left;}
#Texto3 p{
    width: 50%; 
    height: 190px;float: right;margin-right: 12%;text-align: left;font-family: 'Mukta', sans-serif;}
#Texto3 img{
    width: 22%;
    height: 225px;float: left;margin-left: 12%;}
#Texto3{
    text-align: center;
    width: 99%;height: 750px}
#Texto3 h3{
    width: 89.5%;
    height: 40px;background-color: #1d42a7;color: antiquewhite;margin-right: 10%;padding-left: 10%;float: left;margin-top: 1px;}
#hol p{
    margin-bottom: 6px;
    height: 150px;}
#met p{
    text-align:left;
    width: 60%;margin-right: 20%;margin-bottom: 10px;}


footer{
    height: 120px;
    width: 96%; background-color: #baa7ba;padding: 2%}
#redes{
    height: 50px;
    margin-left: 10%;color: azure;}
#redes a{
    color: azure; 
    text-decoration: none;}
#redes a:hover{
    text-decoration:
        underline;}
#dise{
    float: right; 
    margin-right: 20%;color: aliceblue;font-size: 20px;}

.Modo2{
    background-color: #1f1f1f; 
    color:azure;
}
button{
    background-color: #3c084b;
    position: fixed;}
button img{width: 99%;height: 50px;}

#cuadro, #cuadro2{
    width: 90%;
    height: 50px;
    background-color: #ff0031;
    padding-top: 2px;
    color: whitesmoke;
    margin-left: 0.5%;
    text-align: center;
    font-size: 24px;
}
#cuadro2{
    transition: 1s;
}
#cuadro1, #cuadro3{
    width: 50%;
    height: 0;
    font-size: 20px;
  margin-left: 40%;
    transition: 1s;
    overflow:auto;
}



@media screen and (max-width: 1024px){
    main{height: 12000px;}
    nav{width: 70%;margin-left: 20%;}
    main{height: 2330px;}
    section{height: 2000px;}
    #Texto1{height: 350px;}
    #Texto2{height: 300px;width: 100%}
    #Texto2 p{height: 130px;font-size: 12px;}
     #Texto3{height: 300px;width: 100%}
    #Texto3 p{height: 130px;font-size: 12px;}
    #cuadro, #cuadro2{margin-top: 600px;}   
}


@media screen and (max-width: 768px){
    main{height: 2790px;}
    section{height: 2190px;}
    #encabezado h1{font-size: 30px;}
    nav{width: 60%;margin-left: 20%;}
    nav a{font-size: 12px;margin-left: 12%}
    #Texto1 p{ height: 200px;font-size: 12px;margin-bottom: 3px;}
    #Texto1 img{height: 200px; margin-bottom: 6px;}
    #Texto1{margin-left: 13%;height: 350px;}
    #Texto2 p{font-size: 12px;height: 170px;}
    #Texto2 img{height: 150px;}
    #hola p{height: 80px;margin-bottom: 50px; width: 80%}
    #Texto2 h2{font-size: 20px;}
    #metas {height: 70px;}
    #Texto2 {height: 700px;}
    #Texto3 h2{font-size: 17px;padding-top: 10px;padding-left: 5%;}
    #Texto3 p{font-size: 12px;height: 200px;}
     #hol p{height: 80px;margin-bottom: 50px; width: 80%}
    #Texto3 img{height: 150px;}
    #Texto3 {height: 700px;}
    #cuadro, #cuadro2{margin-top: 50px;} 
    #cuadro1, #cuadro3{margin-left: 30%;}
}

@media screen and (max-width:480px){
    
    button{width: 3%;}
    
    main{width: 80%;height: 2300px;}
    header{width: 95%;margin-left: 3%;}
    #encabezado h1{width: 100%; font-size: 20px;}
     nav{width: 90%;margin-left: 0.5%;}
    #Texto1{height: 550px;}
    #Texto1 p{width: 90%;}
    #Texto1 img{width: 80%;margin-top: 80px;}
    
    #Texto2{margin-left: 5%;height: 530px;}
    #Texto2 p{font-size: 10px;height: 130px;width: 85%}
    #Texto2 img{width: 30%; height: 100px;float: left;margin-left: 0%;}
    #hola p{width: 53%;height: 130px;float: left;margin-left: 2%;}
    #Texto2 h2{font-size: 16px;}
    #metas p{width: 89%;margin-right: 5%;}
    
    #Texto3 {height: 600px;}
    #metas p{height: 150px;}
     #Texto3 p{font-size: 10px;height: 170px;width: 85%}
    #Texto3 img{width: 30%; height: 100px;float: left;margin-left: 0%;}
    #hol p{width: 53%;height: 130px;float: left;margin-left: 2%;}
    #Texto3 h2{font-size: 12px;}
    #metas p{width: 89%;margin-right: 5%;}
    #Texto3 {height: 600px;margin-left: 5%;}
  
    #met p{width: 89%;margin-right: 5%;}
     #cuadro, #cuadro2{margin-top: 170px;font-size: 15;margin-left: 4%;} 
    #cuadro1, #cuadro3{margin-left: 30%;}
    footer{margin-left: 5%;}
    
}


